<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="flex justify-content-between align-items-center pr-1 pt-2">
      @if (isOpenMenu) {
        <h3 class="menu-title" [@toogleLabels]="isOpenLabels">NAVEGAÇÃO</h3>
        <p-button icon="pi pi-times" (click)="exibirMenu()" [text]="true"></p-button>
      } @else {
        <p-button icon="pi pi-bars" (click)="exibirMenu()" [text]="true"></p-button>
      }
    </div>
    <div class="menu-separator"></div>
  </div>

  <div class="sidebar-content">
    <p-menu [model]="items" styleClass="border-none w-full h-full">
      <ng-template pTemplate="item" let-item>
        <a
          *ngIf="!item?.url"
          [attr.tabindex]="-1"
          class="p-menuitem-link align-items-center"
          [routerLink]="item.routerLink"
          [routerLinkActive]="'router-link-active'"
          [@toogleMenuItems]="isOpenLabels"
        >
          <div class="label-menu gap-3">
            <div class="icon-width"><span [class]="item.icon"></span></div>
            <div>
              <span [@toogleLabels]="isOpenLabels"> {{ item.label }}</span>
            </div>
          </div>
        </a>
      </ng-template>
    </p-menu>
  </div>

  @if (isOpenMenu) {
  <div class="sidebar-footer">
    <div class="menu-separator"></div>
    <div class="app-version">
      <span [@toogleLabels]="isOpenLabels">v1.0.0</span>
    </div>
  </div>
  }
</div>
